/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
}

:root {
  --ifm-code-font-size: 95%;
  --ifm-color-primary: #31a8ec;
  --ifm-color-primary-dark: #179dea;
  --ifm-color-primary-darker: #1495de;
  --ifm-color-primary-darkest: #117ab7;
  --ifm-color-primary-light: #4bb3ee;
  --ifm-color-primary-lighter: #58b9f0;
  --ifm-color-primary-lightest: #7fc9f3;
  --ifm-font-family-monospace: "JetBrains Mono", "SFMono-Regular", "Menlo", "Consolas", "Liberation Mono", monospace;
  --alert-background-color: #F5F7F9;
  --alert-color: #1C1E21;
}

[data-theme="dark"] {
  --ifm-color-primary: #38b6ff;
  --ifm-color-primary-dark: #19abff;
  --ifm-color-primary-darker: #09a5ff;
  --ifm-color-primary-darkest: #008ada;
  --ifm-color-primary-light: #57c1ff;
  --ifm-color-primary-lighter: #67c7ff;
  --ifm-color-primary-lightest: #95d8ff;
  --ifm-menu-color: #dadada !important;
  --ifm-toc-link-color: #dadada !important;
  --ifm-background-color: #151515;
  --ifm-heading-color: #ededed;
  --alert-background-color: #22272e;
  --alert-color: #eaf2f7;
} 

.header-discord-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/navbar/Discord-Logo-Black.svg") no-repeat;
}

[data-theme='dark'] .header-discord-link::before {
  background: url("../../static/img/navbar/Discord-Logo-White.svg") no-repeat;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/navbar/GitHub-Logo-Black.svg") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("../../static/img/navbar/GitHub-Logo-White.svg") no-repeat;
}

.header-github-link, .header-discord-link {
  transition: opacity 0.2s;
}

.header-github-link:hover, .header-discord-link:hover {
  opacity: 0.6;
}

[data-theme='dark'] .hero--primary {
  background-color: #1B1B1D;
  color: #ffffff;
}

.hero--primary {
  background-color: #ffffff;
  color: #21243d;
}

.theme-last-updated {
  font-style: normal;
}

.menu__link--active:not(.menu__link--sublist) {
  --size: 4px;
  border-left-width: var(--size);
  border-left-style: solid;
  border-left-color: var(--ifm-menu-color-active);
  padding-left: calc(var(--ifm-menu-link-padding-horizontal) - var(--size));
}

.alert {
  color: var(--alert-color);
  background-color: var(--alert-background-color);
  border-left-width: 4px;
  border-radius: 4px;
}

.alert--secondary {
  --ifm-alert-foreground-color: #b95e04;
  --ifm-alert-border-color: #b95e04;
}

.alert--info {
  --ifm-alert-foreground-color: #346DDB;
  --ifm-alert-border-color: #346DDB;
}

.alert--danger {
  --ifm-alert-foreground-color: #d33d3d; 
  --ifm-alert-border-color: #d33d3d;
}

.alert--success {
  --ifm-alert-foreground-color: #008847;
  --ifm-alert-border-color: #008847;
}

.docContainerMainParent {
  margin-left: 30px;
}

@media only screen and (max-width: 996px) {
  .docContainerMainParent {
    margin-left: 10px;
  }  
}