/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.menu {
  font-weight: 600;
}

.container {
  padding: 0 28px;
}

:root {
  --ifm-font-size-base: 18px;
  --ifm-code-font-size: 90%;
  --ifm-color-primary: #31a8ec;
  --ifm-color-primary-dark: #179dea;
  --ifm-color-primary-darker: #1495de;
  --ifm-color-primary-darkest: #117ab7;
  --ifm-color-primary-light: #4bb3ee;
  --ifm-color-primary-lighter: #58b9f0;
  --ifm-color-primary-lightest: #7fc9f3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #38b6ff;
  --ifm-color-primary-dark: #19abff;
  --ifm-color-primary-darker: #09a5ff;
  --ifm-color-primary-darkest: #008ada;
  --ifm-color-primary-light: #57c1ff;
  --ifm-color-primary-lighter: #67c7ff;
  --ifm-color-primary-lightest: #95d8ff;
}

/* Navbar Icons */

.header-discord-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/navbar/Discord-Logo-Black.svg") no-repeat;
}

[data-theme='dark'] .header-discord-link::before {
  background: url("../../static/img/navbar/Discord-Logo-White.svg") no-repeat;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/navbar/GitHub-Logo-Black.svg") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("../../static/img/navbar/GitHub-Logo-White.svg") no-repeat;
}

.header-github-link, .header-discord-link {
  transition: opacity 0.2s;
}

.header-github-link:hover, .header-discord-link:hover {
  opacity: 0.6;
}

[data-theme='dark'] .hero--primary {
  background-color: #1B1B1D;
  color: #ffffff;
}

.hero--primary {
  background-color: #ffffff;
  color: #21243d;
}

.theme-last-updated {
  font-style: normal;
}